<!--script type='text/javascript'>
$(function() { Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":0.6},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1}]')
});
</script  no need will do 1 by 1 -->
<% content_for :title do %>Covid Dashboard - Comparing by Groups <% end %>
<div class="gridster">
  Comparing by Group of countries: (for possible mitigations and emergency reactions)
  <small> <a href=/covid19> -> individual panels</a></small>
  <ul>
  <!-- 
    Alert : Countries in the range 500-2000 deaths/day , for improvements or worsening warning 
 data-title=" Warning group :  Countries with daily deaths over 100 "
  -->
<li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
  <div data-id="thousand" data-view ="LineChart" data-left-margin="5" 
 data-moreinfo=" Danger group : Five Countries with daily deaths over 500 "
 data-top-margin="10"></div>
</li>

  <!-- 
  warnings : Countries in the range 100-500 deaths/day , to watch for improvements or worsening 
 data-title=" Warning group :  Countries with daily deaths over 100 "
        esto rompe el panel data-labels="Mar18,Mar19,Mar20,Mar21,Mar22,Mar23,Mar24,Mar25,Mar26,Mar27,Mar28,Mar29,Mar30,Mar31,Apr1,Apr2,Apr3,Apr4,Apr5,Apr6,Apr7,Apr8,Apr9"
        data-header=" Warning group : "
  -->
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="2">
      <div
   data-id="hundred" data-view ="LineChart" data-left-margin="5" 
 data-moreinfo=" Warning group :  Countries with daily deaths over 100 "
      ></div>
    </li>



  </ul>
  <small> data source: Daily published by John Hopkins,  calculated substracting from last day as <a href=http://github.com/infchg/COVID-19/>http://github.com/infchg/COVID-19/</a> </small>
</div>

<style type="text/css">
  p { text-align: center; }
</style>

