<!--script type='text/javascript'>
$(function() { Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":0.6},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1}]')
});
</script  no need will do 1 by 1 -->
<% content_for :title do %>Covid Status Dashboard <% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pal"  data-moreinfo="INI .. "  data-left-margin="5"

  data-view ="LineChart" 
 data-moreinfo=" pal "
      ></div>
</li>


    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div
        data-id="pbl" data-view ="LineChart"  data-left-margin="5"

        data-labels='Mar18,Mar19,Mar20,Mar21,Mar22,Mar23,Mar24,Mar25,Mar26,Mar27,Mar28,Mar29,Mar30,Mar31,Apr1'
        data-datasets='[{"label":" new ","data":[14,1,49,17],"borderColor":"white","borderWidth":1}]'
 data-moreinfo=" bl "
      ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pbl2" data-view ="LineChart" data-left-margin="5"
 data-moreinfo=" Warning group :  Countries with daily deaths over 100 "
      ></div>
    </li>


    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="pcl" data-view ="LineChart" data-left-margin="5"
 data-moreinfo="  group :  pcl ok `"
        data-datasets='{"label":" new ","data":[14,1,49,17],"borderColor":"white","borderWidth":1}'
      ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pdl" data-view ="LineChart" 
 data-moreinfo="  group :  pdl sin margn"
        data-datasets='[{label:"new",data:[14,1,49,17],borderColor:"white"}]'
      ></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div
        data-id="pel" 
  data-view ="LineChart" 
      ></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div
        data-id="pfl"
  data-view ="LineChart" 
       ></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-id="pgl"
  data-view ="LineChart" 
      ></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div
        data-id="phl" data-view ="LineChart" 
      ></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div
        data-id="pil"
  data-view ="LineChart" 
      ></div>
    </li>

  </ul>
</div>

<style type="text/css">
  p { text-align: center; }
</style>
