<% content_for :title do %>Smashing-Chartjs examples<% end %>
<div class="gridster">
  <ul>

<li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <p> lin </p>
  <div data-id="lin" data-view ="LineChart" data-left-margin="5"  data-moreinfo="comparing the thousand group" data-top-margin="10"></div>
</li>


<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="lin2" data-view ="LineChart" data-left-margin="5" data-top-margin="10"  data-title=" lin dos "
      data-datasets='{"label": "e", "data": "10,39,20,49,87"} ,{"label": "ecinq", "data": "50,35,50,45,57"}'
    ></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="lin3" data-view ="LineChart" data-left-margin="5" data-top-margin="10"  data-moreinfo="... lin tres "
        data-datasets='[{"label": "e", "data": [10,39,20,49,87]} ,{"label": "ecinq", "data": [50,35,50,45,57]}]'
    ></div>
</li>

   <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pbl2" data-view ="LineChart" data-left-margin="5"
 data-moreinfo=" Warning group :  Countries with daily deaths over 100 "
      ></div>
    </li>

  </ul>
</div>

<style type="text/css">
  p {
    text-align: center;
  }
</style>
